body {
    width: 100vw;
    height: 100vh;

    justify-content: center;
    align-items: center;
    display: flex;
    background-position: center;
    background-size: cover;
    background-image: url(bg.gif);
}



.login {

    border-radius: 10px;
    color: white;
    padding: 35px;
    background-color: rgba(0, 0, 0, 0.9);


}

h1 {
    justify-content: center;
    align-items: center;
    display: flex;

}


.label {
    padding: 8px;
    letter-spacing: 2px;

}

#botaoLogin {
    margin-top: 10px;
    margin-left: 65px;

}

.input {
    letter-spacing: 2px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;

}