body{
  width: 100vw;
  height: 100vh;
  /* overflow-x: hidden; */
  background-image: linear-gradient(-90deg, #330066, #5400A8, #7300E6, #7A00F5, #330066);

  font-family: 'Rajdhani', sans-serif;
}

main{
  width: 100vw;
}

#tabelaIcons{
  position: relative;
}

.linksParaFav:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: all
}

.linkParaLixeira:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: all
}

.number-wrapper{
    position: relative;
}
  
.number-wrapper input {
    padding:5px;
    margin: 0 0 0 5px;
    width:40px;
    height: 80%;
    /* border:1px solid #330066;   */
    border: none;
  }
