body{
   

}


.login {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: solid 2px black;  
    border-radius: 10px;
    color: black;
   
}

h1{
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.area{   
    display: flex;  
    justify-content: center;
    align-items: center;
}

.label{
    padding: 8px;
    letter-spacing: 2px;
    text-align: left;
  
  
}
#botaoLogin{
   margin-top: 10px;
   margin-left: 75px;
    
 
}

.input{
    letter-spacing: 2px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background-color: black;
    color: white;
    
    
}




